html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

#viewer {
  width: 96%;
  font-size: 5em;
  height: 80px;
  color: #000;
  text-align: right;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
}

button:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.operator {
  color : #337cac;
}

#all-clear {
  border-color: #b0353a;
}

#all-clear:hover {
  background-color: red;
}

#equal {
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

#equal:hover {
  background-color: #4e9ed4;
}

.calculators-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
