body {
  font-family: Arial,Verdana,sans-serif;
  color: #665544;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 700px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.result {
  align-self: center;
  color: blue;
}

.box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
}



.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.inbox {
  width: 150px;
}

.label {
  font-weight: bold;
}
